body{
    margin: 0;
    background-color: #fff;
}

.grid{
    /* background-color: aqua; */
    margin: 70px;
    border-radius: 25px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.nav-ul{
    display: flex;
    flex-direction: row;
}

.nav-ul > a{
    padding-right: 5px;
    text-decoration: none;
    list-style: none;
    color: blueviolet;
}

a