body{
    margin: 0;
    background-color: #fff;
}

.grid{
    background-color: aqua;
    margin: 70px;
    border-radius: 25px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 70px;
}

.titulo{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.0em;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;}

.nav-ul{
    display: flex;
    flex-direction: row;

    margin: 0 100px;
    padding-left: 360px;
}

.nav-ul > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    
    padding-right: 5px;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}


.get{
    background-color: red;
    border-radius: 10px;
    color: #fff;
    padding: 8px 13px 8px 8px;
    margin-left: 25px;
}

.links{
    padding: 0 30px;
}
